{% include 'partials/head.html' %}
{% include 'partials/navbar.html' %}

    <!-- Page Content -->
    <div class="container">

        {% block page_heading %}
            <!-- Page Heading -->
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="page-header">{% block page_title %}{% endblock %}</h2>
                </div>
            </div>
            <!-- /.row -->
        {% endblock %}

        {% block page_content %}{% endblock %}

        <hr>

        {% block page_footer %}
            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>made with <i class="fas fa-caret-square-right"></i> by <a href="https://github.com/charlesreid1">@charlesreid1</a> using the 
                        <a href="https://developer.spotify.com/documentation/web-api/">spotify api</a>, 
                        <a href="https://spotipy.readthedocs.io/en/latest/">spotipy</a>, 
                        <a href="http://jinja.pocoo.org/">jinja</a>, 
                        <a href="https://www.python.org/">python</a>, and 
                        <a href="http://getbootstrap.com/">bootstrap</a>
                        </p>
                        <p>see <a href="https://github.com/charlesreid1/spots">github.com/charlesreid1/spots</a></p>
                    </div>
                </div>
                <!-- /.row -->
            </footer>
        {% endblock %}

{% include 'partials/foot.html' %}
